<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/capa.css}"
          href="../../css/capa.css"/>
</head>
<body>

<div layout:fragment="conteudo" th:align="center">
    <div class="container">
        <h2 style="color:whitesmoke;" th:text="'Faltam ' + ${dias_faltantes} + ' dias para nosso casamento!'">18/11/2017</h2>

        <img src="img/desenho_casal.png" align="center"/>
    </div>

    <script type="text/javascript">
    </script>
</div>


<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>