<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/presenca.css}"
          href="../../css/presenca.css"/>
</head>
<body>

<div layout:fragment="conteudo" th:align="center">
    <div class="container">
        <img src="img/convite_oficial.png" align="center" width="45%" height="45%"/>

    </div>

    <script type="text/javascript">
    </script>
</div>


<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>