<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/endereco.css}"
          href="../../css/endereco.css"/>
</head>
<body>

<div layout:fragment="conteudo" th:align="center">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.2864654853593!2d-46.71765974980571!3d-23.701462084537955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4e314242b947%3A0xec4dd23ee9ea458c!2sGolden+Grill!5e0!3m2!1spt-BR!2sbr!4v1508692532437" width="600" height="450" frameborder="0" style="border:0">

        </iframe>

    </div>

    <script type="text/javascript">
    </script>
</div>


<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>